<template id="CImage">
  <link
    rel="stylesheet"
    href="{$_GG['kernel']['assets']}/css/iconfont/shoutao.css"
  />
  <style>
    .image-error {
      display: none;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #999;
    }
    .image-error i {
      font-size: 20px;
    }
  </style>
  <img />
  <div class="image-error">
    <i class="shoutao st-icon-piclight"></i>
  </div>
</template>

<script type="module" defer>
  import CImage from "{$_GG['kernel']['URLRoot']}/Views/dashboard/extensions/components/CImage.js";
  window.customElements.define("c-image", CImage);
</script>
<script
  src="{$_GG['kernel']['URLRoot']}/Views/dashboard/extensions/js/list.js"
  defer
></script>

<style>
  .components-tips {
    margin-bottom: 10px;
    padding: 7px;
    color: var(--warning-color);
    font-size: 12px;
    letter-spacing: 1px;
    background: white;
    border-radius: 5px;
    opacity: 0.4;
    user-select: none;
    transition: opacity 0.3s linear;
  }
  .components-tips:hover {
    opacity: 1;
  }
  .extension-item {
    display: grid;
    grid-template-columns: 70px 605px 220px;
    column-gap: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    user-select: none;
    border-bottom: 1px solid #f7f5f5;
  }
  .extension-item:first-child {
    margin-top: 0;
  }
  .extension-item:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  .extension-icon {
    width: 70px;
    height: 70px;
    border: 1px solid #f7f5f5;
    border-radius: 5px;
  }
  .extension-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .extension-params {
    display: flex;
    margin-top: 5px;
    font-size: 12px;
    color: #999;
  }
  .extension-param-item {
    margin-right: 10px;
  }
  .extension-summary {
    color: #999;
    font-size: 13px;
  }
  .extension-operations {
    text-align: right;
  }
  .operation-status {
    display: none;
    margin-top: 10px;
    font-size: 13px;
  }
</style>

<div class="components-tips">
  ❗
  本页采用较新的技术开发，请尽量使用Chrome浏览器访问，并且保持浏览器更新到最新版本。如扩展图标不显示请点击页面右侧悬浮图标😀联系客服，🙌谢谢。
</div>
<ul class="extension-list set-panel">
  {loop $extensions $extensionItem}
  <li class="extension-item" data-extension="{$extensionItem['extension_id']}">
    <c-image
      class="extension-icon"
      src="{$extensionItem['icon']}"
      width="70px"
      height="70px"
      round="true"
    ></c-image>
    <div class="extension-info">
      <div>
        <a
          class="extension-name ellipsis1"
          href="{$extensionItem['link']}"
          target="_blank"
          rel="noopener noreferrer"
          >{$extensionItem['name']}</a
        >
        <ul class="extension-params">
          <li class="extension-param-item">
            <span>版本：</span>{$extensionItem['version']}
          </li>
          {if $extensionItem['installed']}
          <li class="extension-param-item">
            <span>最后一次升级时间：</span>
            {$extensionItem['upgradeTime']}
          </li>
          {/if}
        </ul>
      </div>

      <div class="extension-summary ellipsis1">{$extensionItem['summary']}</div>
    </div>
    <div class="extension-operations">
      {if $extensionItem['installed']} {if $extensionItem['enabled']}
      <button class="c-button" size="mini">关闭</button>
      {else}
      <button class="c-button" size="mini" primary>开启</button>
      {/if}
      <button
        class="c-button"
        size="mini"
        onclick="upgradeExtension(`{$extensionItem['extension_id']}`)"
      >
        更新
      </button>
      <button
        class="c-button"
        size="mini"
        onclick="uninstallExtension(`{$extensionItem['extension_id']}`)"
      >
        卸载
      </button>
      {else}
      <button
        class="c-button"
        primary
        size="mini"
        onclick="installExtension(`{$extensionItem['extension_id']}`)"
      >
        安装
      </button>
      {/if}
      <div class="operation-status"></div>
    </div>
  </li>
  {/loop}
</ul>
