<!--{eval include $Response::systemView("components/header", "dashboard")}-->
  <main class="page-main container">
    <!--{eval include $Response::systemView("components/aside", "dashboard")}-->
    <div class="page-content">
      <form
        method="POST"
        action="/plugin.php?id={$gstudio_kernel['devingPluginId']}&uri=_dashboard_save"
        class="set-form"
        enctype="multipart/form-data"
      >
        <input type="hidden" name="DZHash" value="{FORMHASH}" />
        <!--{loop $sets $setsItem}-->
        <section class="set-item set-item-{$setsItem['set_mark']} {if $setsItem['set_formtype']=='empty'}set-group{/if}">
          <div class="set-parent">
            <div class="set-title">{$setsItem['set_name']}</div>
          <div class="set-content set-item-{$setsItem['set_mark']}-content">
            <!--{if $setsItem['set_formtype']=="text"}-->
            <input type="text" name="{$setsItem['set_id']}" value="{$setsItem['set_content']}" />
            <!--{elseif $setsItem['set_formtype']=="textarea"}-->
            <textarea type="text" name="{$setsItem['set_id']}" >{$setsItem['set_content']}</textarea>
            <!--{elseif $setsItem['set_formtype']=="color"}-->
            <div class="set-type-color">
              <input type="color" value="{$setsItem['set_content']}" name="{$setsItem['set_id']}" onchange="changeColor('color','{$setsItem['set_mark']}',this.value)" ></input>
              <input type="text" value="{$setsItem['set_content']}" placeholder="{$GLOBALS['GLANG']['kernel']['form_color_input_placeholder']}" onchange="changeColor('text','{$setsItem['set_mark']}',this.value)" ></input>
            </div>
            <!--{elseif $setsItem['set_formtype']=="html"}-->
            <textarea onchange="changeHTML('{$setsItem['set_mark']}',this.value)" >{$setsItem['set_view_content']}</textarea>
            <input type="hidden" name="{$setsItem['set_id']}" mark="{$setsItem['set_mark']}" ></input>
            <!--{elseif $setsItem['set_formtype']=="bbcode"}-->
            <input type="hidden" name="{$setsItem['set_id']}" mark="{$setsItem['set_mark']}" value="{$setsItem['set_content']}" />
            <textarea onchange="changeBBCode('{$setsItem['set_mark']}',this.value)" >{$setsItem['set_view_content']}</textarea>
            <!--{elseif $setsItem['set_formtype']=="select"}-->
            <select name="{$setsItem['set_id']}" >
              <option disabled selected >{$GLOBALS['GLANG']['kernel']['please_choose']}</option>
              <!--{loop $setsItem['set_value'] $setValueKey $setValueItem}-->
              <option value="{$setValueKey}" {if $setsItem['set_content']==$setValueKey}selected{/if}>{$setValueItem}</option>
              <!--{/loop}-->
            </select>
            <!--{elseif $setsItem['set_formtype']=="image"}-->
            <input type="file" name="{$setsItem['set_id']}" onchange="changeImage('{$setsItem['set_mark']}',this.files)"/>
            <!--{elseif $setsItem['set_formtype']=="forum"}-->
            <select class="set-content-forum" name="{$setsItem['set_id']}[]" multiple="multiple" >
              <!--{loop $forums $forumsItem}-->
              <option disabled value="{$forumsItem['fid']}">{$forumsItem['name']}</option>
                <!--{loop $forumsItem['sub'] $forumsSubItem}-->
                <option value="{$forumsSubItem['fid']}" {if in_array($forumsSubItem['fid'],$setsItem['set_content'])}selected{/if}>&nbsp;{$forumsSubItem['name']} </option>
                <!--{/loop}-->
              <!--{/loop}-->
            </select>
            <!--{/if}-->
          </div>
          <div class="set-tips">{$setsItem['set_tips']}</div>
          <div class="set-preview">
            <!--{if $setsItem['set_formtype']=='image'}-->
              <img
              class="set-preview-img"
              src="{$_G['siteurl']}{$setsItem['set_content']}"
            />
            <!--{elseif $setsItem['set_formtype']=='html'}-->
            {$setsItem['set_view_content']}
            <!--{elseif $setsItem['set_formtype']=="bbcode"}-->
            {$setsItem['set_preview_content']}
            <!--{/if}-->
          </div>
          </div>
          <div class="set-subs">
            <!--{loop $setsItem['set_sub_sets'] $setMergeItem}-->
            <section class="set-item set-item-{$setMergeItem['set_mark']}">
              <div class="set-title">{$setMergeItem['set_name']}</div>
              <div class="set-content set-item-{$setMergeItem['set_mark']}-content">
                <!--{if $setMergeItem['set_formtype']=="text"}-->
                <input type="text" name="{$setMergeItem['set_id']}" value="{$setMergeItem['set_content']}" />
                <!--{elseif $setMergeItem['set_formtype']=="textarea"}-->
                <textarea type="text" name="{$setMergeItem['set_id']}" >{$setMergeItem['set_content']}</textarea>
                <!--{elseif $setMergeItem['set_formtype']=="color"}-->
                <div class="set-type-color">
                  <input type="color" value="{$setMergeItem['set_content']}" name="{$setMergeItem['set_id']}" onchange="changeColor('color','{$setMergeItem['set_mark']}',this.value)" ></input>
                  <input type="text" value="{$setMergeItem['set_content']}" placeholder="{$GLOBALS['GLANG']['kernel']['form_color_input_placeholder']}" onchange="changeColor('text','{$setMergeItem['set_mark']}',this.value)" ></input>
                </div>
                <!--{elseif $setMergeItem['set_formtype']=="html"}-->
                <input type="hidden" name="{$setMergeItem['set_id']}" mark="{$setMergeItem['set_mark']}" value="{$setMergeItem['set_content']}" />
                <textarea onchange="changeHTML('{$setMergeItem['set_mark']}',this.value)" >{$setMergeItem['set_view_content']}</textarea>
                <!--{elseif $setMergeItem['set_formtype']=="bbcode"}-->
                <input type="hidden" name="{$setMergeItem['set_id']}" mark="{$setMergeItem['set_mark']}" value="{$setMergeItem['set_content']}" />
                <textarea onchange="changeBBCode('{$setMergeItem['set_mark']}',this.value)" >{$setMergeItem['set_view_content']}</textarea>
                <!--{elseif $setMergeItem['set_formtype']=="select"}-->
                <select name="{$setMergeItem['set_id']}" >
                  <option disabled selected >{$GLOBALS['GLANG']['kernel']['please_choose']}</option>
                  <!--{loop $setMergeItem['set_value'] $setValueKey $setValueItem}-->
                  <option value="{$setValueKey}" {if $setMergeItem['set_content']==$setValueKey}selected{/if}>{$setValueItem}</option>
                  <!--{/loop}-->
                </select>
                <!--{elseif $setMergeItem['set_formtype']=="image"}-->
                <input type="file" name="{$setMergeItem['set_id']}" onchange="changeImage('{$setMergeItem['set_mark']}',this.files)"/>
                <!--{elseif $setMergeItem['set_formtype']=="forum"}-->
                <select class="set-content-forum" name="{$setMergeItem['set_id']}[]" multiple="multiple" >
                  <!--{loop $forums $forumsItem}-->
                  <option disabled value="{$forumsItem['fid']}">{$forumsItem['name']}</option>
                    <!--{loop $forumsItem['sub'] $forumsSubItem}-->
                    <option value="{$forumsSubItem['fid']}" {if in_array($forumsSubItem['fid'],$setMergeItem['set_content'])}selected{/if}>&nbsp;{$forumsSubItem['name']} </option>
                    <!--{/loop}-->
                  <!--{/loop}-->
                </select>
                <!--{/if}-->
              </div>
              <div class="set-tips">
                {$setMergeItem['set_tips']}
              </div>
              <div class="set-preview">
                <!--{if $setMergeItem['set_formtype']=='image'}-->
                  <img
                  class="set-preview-img"
                  src="{if $setMergeItem['set_content']}{$_G['siteurl']}{$setMergeItem['set_content']}{/if}"
                />
                <!--{/if}-->
              </div>
            </section>
            <!--{/loop}-->
          </div>
        </section>
        <!--{/loop}-->
        <!--{if $setCount>0}-->
        <section class="form-operate" >
          <button class="form-submit-button" type="submit">{$GLOBALS['GLANG']['kernel']['save']}</button>
        </section>
        <!--{/if}-->
      </form>
    </div>
  </main>
  <script>
    function loadEl(){
      console.log(this);
    }
    function changeColor(type,mark,value){
      if(type=='text'){
        let colorDom=document.querySelector(".set-item-"+mark+"-content .set-type-color>input[type='color']");
      colorDom.value=value;
      }else {
        let textDom=document.querySelector(".set-item-"+mark+"-content .set-type-color>input[type='text']");
        textDom.value=value;
      }
    }

    function changeHTML(mark,value){
      let dom=document.querySelector(".set-item-"+mark+" .set-preview");
      dom.innerHTML=value;
      document.querySelector("input[mark='"+mark+"']").value=encodeURI(escape(value));
    }

    var allowbbcode=true;
    var allowhtml=true;
    var allowsmilies=false;
    var allowimgcode=true;
    function changeBBCode(mark,value){
      let dom=document.querySelector(".set-item-"+mark+" .set-preview");
      dom.innerHTML=bbcode2html(value);
      document.querySelector("input[mark='"+mark+"']").value=encodeURI(value);
    }

    function changeImage(mark,files){
      if(files.length==0){
        return;
      }
      let file=files[0];
      let extension=file.name.slice(file.name.indexOf(".")+1);
      let allowExtension=["jpg","jpeg","png"];
      if(allowExtension.indexOf(extension)===-1){
        alert(GLANG['kernel']['choose_upload_img_type_png_jpg_jpeg']);
        return;
      }

      let reader=new FileReader();

      reader.onload=function(){
        let previewDom=document.querySelector(".set-item-"+mark+" .set-preview-img");
        previewDom.src=this.result;
      }
      reader.readAsDataURL(file);

    }
  </script>
  <script type="text/javascript" src="{$_G['setting']['jspath']}bbcode.js?{VERHASH}"></script>

<!--{eval include $Response::systemView("components/footer", "dashboard")}-->