<!--{eval $View::systemPage("components/header", "Dashboard")}-->

<main class="page-main container" {if $_GG['addon']['dashboard']['secondLevelNavCount']==0}style="display:block;" {/if}>
  <!--{eval $View::systemPage("components/aside", "Dashboard")}-->
  <section class="page-content">
    <!--{eval $View::systemPage("components/thirdNav", "Dashboard")}-->
    <!--{eval $View::systemPage($_fileName, $_templateDir,$_viewData,'Dashboard')}-->
  </section>
</main>

<!--{eval $View::systemPage("components/footer", "Dashboard")}-->