{if $_GG['addon']['dashboard']['secondLevelNavCount']>0}
<aside class="page-aside">
  <nav class="page-sub-nav">
    <a
      {if $_GG['addon']['dashboard']['firstLevelNav']['nav_custom']}
      href="plugin.php?id={$_GG['id']}&uri={$_GG['addon']['dashboard']['firstLevelNav']['nav_uri']}"
      {else}
      href="plugin.php?id={$_GG['id']}&uri=dashboard&nav_id={$_GG['addon']['dashboard']['firstLevelNav']['nav_id']}"
      {/if}
      class="
        page-sub-nav-link
        {if
          $_GET['nav_id']==$_GG['addon']['dashboard']['firstLevelNav']['nav_id']
          ||
          $_GET['uri']==$_GG['addon']['dashboard']['firstLevelNav']['nav_uri']
          ||
          $_GET['uri']==='dashboard'&&!$_GET['nav_id']
        }page-sub-nav-link-active{/if}
      "
      >{$_GG['addon']['dashboard']['firstLevelNav']['nav_name']}</a
    >
    <!--{loop $_GG['addon']['dashboard']['secondLevelNavs'] $sub}-->
    <a
      {if $sub['nav_custom']}
        href="plugin.php?id={$_GG['id']}&uri={$sub['nav_uri']}"
      {else}
        href="plugin.php?id={$_GG['id']}&uri=dashboard&nav_id={$sub['nav_id']}"
      {/if}
      class="
        page-sub-nav-link
        {if $_GG['addon']['dashboard']['secondLevelNav']['nav_id']==$sub['nav_id']
          ||
          $_GET['uri']==$sub['nav_uri']
        }page-sub-nav-link-active{/if}
      "
      >{$sub['nav_name']}</a
    >
    <!--{/loop}-->
  </nav>
</aside>
{/if}
