<aside class="page-aside">
  <nav class="page-sub-nav">
    <a
      href="plugin.php?id={$_GG['id']}&uri=dashboard&mid={$_GG['addon']['dashboard']['mainNavId']}"
      class="
        page-sub-nav-link
        {if
        $_GG['addon']['dashboard']['subNavId']==0}page-sub-nav-link-active{/if}
      "
      >{$_GG['langs']['kernel']['all']}</a
    >
    <!--{loop $_GG['addon']['dashboard']['subNavs'] $sub}-->
    {if $sub['nav_uri']}
    <a
      href="plugin.php?id={$_GG['id']}&uri={$sub['nav_uri']}&mid={$_GG['addon']['dashboard']['mainNavId']}&sid={$sub['nav_id']}"
      class="
        page-sub-nav-link
        {if
        $_GET['uri']==$sub['nav_uri']}page-sub-nav-link-active{/if}
      "
      >{$sub['nav_name']}</a
    >
    {else}
    <a
      href="plugin.php?id={$_GG['id']}&uri=dashboard&mid={$_GG['addon']['dashboard']['mainNavId']}&sid={$sub['nav_id']}"
      class="
        page-sub-nav-link
        {if
        $_GET['sid']==$sub['nav_id']}page-sub-nav-link-active{/if}
      "
      >{$sub['nav_name']}</a
    >
    {/if}
    <!--{/loop}-->
  </nav>
</aside>
