<!DOCTYPE html>
<html lang="zh-CHS">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {if
      $pageTitle}{$pageTitle}{else}{$GLOBALS['GLANG']['kernel']['backend']}{/if}
    </title>
    <script
      type="text/javascript"
      src="{$_G['setting']['jspath']}common.js?{VERHASH}"
    ></script>
    <link
      rel="stylesheet"
      href="{$GLOBALS['gstudio_kernel']['dashboard']['viewPath']}/css/common.css"
    />
    <link
      rel="stylesheet"
      href="{$GLOBALS['gstudio_kernel']['pluginPath']}/Assets/css/c_ui.css"
    />
    <script src="{$GLOBALS['gstudio_kernel']['pluginPath']}/Assets/js/jquery.js"></script>
    <script src="{$GLOBALS['gstudio_kernel']['pluginPath']}/Assets/js/http.js"></script>
    <script src="{$GLOBALS['gstudio_kernel']['pluginPath']}/Assets/js/utils.js"></script>
    <script>
      var jQuery = $.noConflict();
      CDZXHTTP.setRequestUrl(
        "plugin.php?id={$GLOBALS['gstudio_kernel']['devingPluginId']}"
      );
    </script>
  </head>
  <body>
    <header class="page-header">
      <div class="container page-header-contaner">
        <div class="logo">{$GLOBALS['GLANG']['kernel']['logo_text']}</div>
        <nav
          class="page-nav {if $GLOBALS['gstudio_kernel']['dashboard']['mainNavCount']>14}page-nav-more{/if}"
        >
          <!--{loop $GLOBALS['gstudio_kernel']['dashboard']['mainNavs'] $nav}-->
          <a
            href="plugin.php?id={$GLOBALS['gstudio_kernel']['devingPluginId']}&uri=dashboard&mid={$nav['nav_id']}"
            class="page-nav-link {if $GLOBALS['gstudio_kernel']['dashboard']['mainNavId']==$nav['nav_id']}page-nav-link-active{/if}"
          >
            {$nav['nav_name']}
          </a>
          <!--{/loop}-->
        </nav>
        <div class="quick-nav">
          <div class="quick-nav-link" onclick="showAddonPopup()">切换应用</div>
          <a
            href="https://www.cooocc.com"
            class="quick-nav-link"
            target="_blank"
            >COC</a
          >
          <a href="index.php" class="quick-nav-link" target="_blank"
            >{$GLOBALS['GLANG']['kernel']['site_homepage']}</a
          >
          <a
            href="https://addon.dismall.com/?@19011.developer"
            class="quick-nav-link"
            target="_blank"
          >
            {$GLOBALS['GLANG']['kernel']['addon_center']}
          </a>
        </div>
        <div class="addons-popup">
          <div class="addons-list">
            {loop $GLOBALS['gstudio_kernel']['plugins'] $pluginId $pluginName}
            <div class="addon-item">
              <div>
                <img
                  src="https://addon.dismall.com/?_{$pluginId}"
                  alt="{$pluginName}"
                  class="addon-icon"
                />
                <span class="addon-name">{$pluginName}</span>
              </div>
              <a
                class="addon-switch"
                href="plugin.php?id={$pluginId}&uri=dashboard"
                >切换</a
              >
            </div>
            {/loop}
          </div>
        </div>
        <div class="addons-popup-mask" onclick="hideAddonPopup()"></div>
      </div>
    </header>
  </body>
</html>
