<!DOCTYPE html>
<html lang="zh-CHS">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {if $pageTitle}{$pageTitle}{else}{$_GG['langs']['kernel']['backend']}{/if}
    </title>
    <script
      type="text/javascript"
      src="{$_G['setting']['jspath']}common.js?{VERHASH}"
    ></script>
    <link
      rel="stylesheet"
      href="{$_GG['kernel']['views']}/dashboard/css/common.css"
    />
    <link rel="stylesheet" href="{$_GG['kernel']['assets']}/css/c_ui.css" />
    <link
      rel="stylesheet"
      href="{$_GG['kernel']['assets']}/css/c_components.css"
    />
    <link
      rel="stylesheet"
      href="{$_GG['kernel']['assets']}/css/iconfont/shoutao.css"
    />
    <script src="{$_GG['kernel']['assets']}/js/jquery.js"></script>
    <script src="{$_GG['kernel']['assets']}/js/http.js"></script>
    <script src="{$_GG['kernel']['assets']}/js/utils.js"></script>
    <script src="{$_GG['kernel']['assets']}/js/c_components.js"></script>
    <script>
      var jQuery = $.noConflict();
      const CJQuery = jQuery.noConflict();
      CDZXHTTP.setRequestUrl("plugin.php?id={$_GG['id']}");
    </script>
  </head>
  <body>
    <header class="page-header">
      <div class="container page-header-contaner">
        <div class="logo">{$_GG['langs']['kernel']['logo_text']}</div>
        <nav
          class="
            page-nav
            {if
            $_GG['addon']['dashboard']['mainNavCount']>14}page-nav-more{/if}
          "
        >
          <!--{loop $_GG['addon']['dashboard']['firstLevelNavs'] $nav}-->
          <a
            {if $nav['nav_custom']}
            href="plugin.php?id={$_GG['id']}&uri={$nav['nav_uri']}"
            {else}
            href="plugin.php?id={$_GG['id']}&uri=dashboard&nav_id={$nav['nav_id']}"
            {/if}
            class="
              page-nav-link
              {if
              $_GG['addon']['dashboard']['firstLevelNav']['nav_id']==$nav['nav_id']
              ||$_GET['uri']==$nav['nav_uri']
              }page-nav-link-active{/if}
            "
          >
            {$nav['nav_name']}
          </a>
          <!--{/loop}-->
        </nav>
        <div class="quick-nav">
          <a
            href="plugin.php?id={$_GET['id']}"
            class="quick-nav-link"
            target="_blank"
          >
            {$_GG['langs']['kernel']['homepage']}
          </a>
          <div class="quick-nav-link" onclick="showAddonPopup()">
            {$_GG['langs']['kernel']['switch_app']}
          </div>
          <a
            href="https://www.cooocc.com"
            class="quick-nav-link"
            target="_blank"
            >COC</a
          >
          <a href="index.php" class="quick-nav-link" target="_blank"
            >{$_GG['langs']['kernel']['site_homepage']}</a
          >
          <a
            href="https://addon.dismall.com/?@19011.developer"
            class="quick-nav-link"
            target="_blank"
          >
            {$_GG['langs']['kernel']['addon_center']}
          </a>
        </div>
        <div class="addons-popup">
          <div class="addons-list">
            {loop $_GG['addon']['dashboard']['plugins'] $pluginId $pluginName}
            <div class="addon-item">
              <div>
                <img
                  src="https://addon.dismall.com/?_{$pluginId}"
                  alt="{$pluginName}"
                  class="addon-icon"
                />
                <span class="addon-name">{$pluginName}</span>
              </div>
              <a
                class="addon-switch"
                href="plugin.php?id={$pluginId}&uri=dashboard"
                >{$_GG['langs']['kernel']['switch']}</a
              >
            </div>
            {/loop}
          </div>
        </div>
        <div class="addons-popup-mask" onclick="hideAddonPopup()"></div>
      </div>
    </header>
  </body>
</html>
