{if $_GG['addon']['dashboard']['thirdLevelNavCount']>0}
<div class="third-navs">
  <a
    class="
      third-nav-item
      {if
        $_GET['nav_id']==$_GG['addon']['dashboard']['secondLevelNav']['nav_id']
        ||
        $_GET['uri']==$_GG['addon']['dashboard']['secondLevelNav']['nav_uri']
      }third-nav-item_active
      {/if}
    "
    {if $_GG['addon']['dashboard']['secondLevelNav']['nav_custom']}
    href="plugin.php?id={$_GG['id']}&uri={$_GG['addon']['dashboard']['secondLevelNav']['nav_uri']}"
    {else}
    href="plugin.php?id={$_GG['id']}&uri=dashboard&nav_id={$_GG['addon']['dashboard']['secondLevelNav']['nav_id']}"
    {/if}
  >
    {$_GG['addon']['dashboard']['secondLevelNav']['nav_name']}
  </a>
  {loop $_GG['addon']['dashboard']['thirdLevelNavs'] $itemIndex $thirdNavItem}
  <a
    class="
      third-nav-item
      ellipsis1
      {if $_GG['addon']['dashboard']['thirdLevelNav']['nav_id']==$thirdNavItem['nav_id']
        ||
      $_GET['uri']==$thirdNavItem['nav_uri']
      }third-nav-item_active{/if}
    "
    {if $thirdNavItem['nav_custom']}
    href="plugin.php?id={$_GG['id']}&uri={$thirdNavItem['nav_uri']}"
    {else}
    href="plugin.php?id={$_GG['id']}&uri=dashboard&nav_id={$thirdNavItem['nav_id']}"
    {/if}
  >
    {$thirdNavItem['nav_name']}
  </a>
  {/loop}
</div>
{/if}
